
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

.navber ,.banner, .card-container {
    max-width: 1140px;
    margin: 0 auto;
    background-color: bisque;
}
.navber{
    height: 71px;
}
.navber{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

nav ul li {
    list-style: none;
}
.home{
    font-weight: 700;

    
}

nav ul a{
    text-decoration: none;
    margin-right: 48px;
    color: #000;
    


}
.nav-list{
    display: flex;
    align-items: center;
    
}
/* Banner */
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    display: flex;
    margin-top: 100px;
}
.banner p{
    color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.banner img{

width: 570px;
height: 355px;
margin-top: px;
display: block;

}
.banner-text{
    background-color: aqua;
    width: 570px;
    height: 299px;
    margin-top: 55px;
    
}
.banner h1{
    font-size: 65px;
    font-weight: 700;
    margin: 0 0;
    margin-top: 10px;
    
}
.banner p{
    
  margin-bottom: 12px;

}
/* Cart */
.cart{
    background-color: bisque;
    width: 270px;
    height: 485px;
    text-align: center;
}
.cart img{
    height: 323px;
}
.cart button{
    width: 100%;
    height: 50px;
    background-color: rgb(233, 90, 8);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    
    
}
.cart p{
    font-weight: 500px;
    font-size: 22px;
    
    

}
.cart h5{
    font-weight: 700;
    font-size: 22px;
}


    
.cart p,h5{
    margin: 17px 0;
    line-height: 1.2;
    
    
}
.card{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.description{
    justify-content: center;
    text-align: center;
    
}
.card-container{
    margin-top: 80px;
}



@media screen and (max-width: 393px) {
    .navber {
      flex-direction: column;
        height: auto;
        padding: 10px;
        justify-content: center;
        
        
    }
    
   

    .nav-list {
        flex-direction: column;
    }

    nav ul a {
        margin: 10px 0;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center;
        margin-top: 50px;
        text-align: center;
    }

    .banner-text, .banner img {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner p {
        font-size: 18px;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
    }

    .cart {
        max-width: 100%;
    }
}